h3{
    float: left;
    margin-left: 100px;
    margin-right: 100px;
    width: 120px;
}

input{
    margin-top: 25px;
}

div{
    margin-bottom: 30px;
}

button{

    width: 10%;
    background-color: #73A2F4;
    color: black;
    font-size: large;
    margin-right: 100%;
    width: 450px;
    margin-bottom: 15px;
    margin-left: 90px;
}

#popUp{
    display: none;
}

#message{
    font-weight: normal;
}

#continueBt{
    margin-left: 20px;
    margin-top: 25px;
}